
.vs/Gruppe8Eksamensprojekt2019/v16/Server/sqlite3/db.lock
.vs/Gruppe8Eksamensprojekt2019/v16/Server/sqlite3/storage.ide
Gruppe8Eksamensprojekt2019/bin/Windows/x86/Debug/Gruppe8Eksamensprojekt2019.exe
Gruppe8Eksamensprojekt2019/bin/Windows/x86/Debug/Gruppe8Eksamensprojekt2019.pdb
Gruppe8Eksamensprojekt2019/obj/x86/Debug/Gruppe8Eksamensprojekt2019.csprojAssemblyReference.cache
Gruppe8Eksamensprojekt2019/obj/x86/Debug/Gruppe8Eksamensprojekt2019.exe
Gruppe8Eksamensprojekt2019/obj/x86/Debug/Gruppe8Eksamensprojekt2019.pdb
